In [6]:
import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_text as text

In [22]:
import pandas as pd

df = pd.read_csv("spam.csv", encoding='latin1')
#with open("spam.csv", encoding="utf-8") as df:
 #   df.head(5)
df.head(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [23]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [24]:
df.head(5)

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [25]:
df.groupby('v1').describe()

        v2
     count unique                                                top freq
v1
ham   4825   4516                             Sorry, I'll call later   30
spam   747    653  Please call our customer service representativ...    4

In [26]:
df['v1'].value_counts()

ham     4825
spam     747
Name: v1, dtype: int64

In [27]:
df_spam = df[df['v1']=='spam']
df_spam.shape

(747, 2)

In [28]:
df_ham = df[df['v1']=='ham']
df_ham.shape

(4825, 2)

In [29]:
df_ham_downsampled = df_ham.sample(df_spam.shape[0])
df_ham_downsampled.shape

(747, 2)

In [30]:
df_balanced = pd.concat([df_ham_downsampled, df_spam])
df_balanced.shape

(1494, 2)

In [31]:
df_balanced['v1'].value_counts()

ham     747
spam    747
Name: v1, dtype: int64

In [32]:
df_balanced['spam']=df_balanced['v1'].apply(lambda x: 1 if x=='spam' else 0)
df_balanced.sample(5)

        v1                                                 v2  spam
3913   ham  Today is ACCEPT DAY..U Accept me as? Brother S...     0
5228  spam  PRIVATE! Your 2003 Account Statement for <fone...     1
8     spam  WINNER!! As a valued network customer you have...     1
716   spam  +449071512431 URGENT! This is the 2nd attempt ...     1
4180   ham          Ok da, i already planned. I wil pick you.     0

In [33]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df_balanced['v2'],df_balanced['spam'], stratify=df_balanced['spam'])

In [34]:
X_train.head(4)

2204    Raji..pls do me a favour. Pls convey my Birthd...
3153    Not heard from U4 a while. Call 4 rude chat pr...
2153                     I dont have i shall buy one dear
5567    This is the 2nd time we have tried 2 contact u...
Name: v2, dtype: object

In [36]:
bert_preprocess = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_preprocess/3")
bert_encoder = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_L-12_H-768_A-12/4")

In [37]:
def get_sentence_embeding(sentences):
    preprocessed_text = bert_preprocess(sentences)
    return bert_encoder(preprocessed_text)['pooled_output']

get_sentence_embeding([
    "500$ discount. hurry up", 
    "Bhavin, are you up for a volleybal game tomorrow?"]
)

<tf.Tensor: shape=(2, 768), dtype=float32, numpy=
array([[-0.84351707, -0.5132728 , -0.8884573 , ..., -0.7474888 ,
        -0.7531474 ,  0.91964495],
       [-0.87208354, -0.50543964, -0.9444667 , ..., -0.858475  ,
        -0.7174534 ,  0.88082975]], dtype=float32)>

In [49]:
e = get_sentence_embeding([
    "banana", 
    "grapes",
    "mango",
    "jeff bezos",
    "elon musk",
    "cristiano ronaldo"
    "virat kohli"
]
)

In [50]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity([e[4]],[e[5]])

array([[0.79758763]], dtype=float32)

In [51]:
# Bert layers
text_input = tf.keras.layers.Input(shape=(), dtype=tf.string, name='text')
preprocessed_text = bert_preprocess(text_input)
outputs = bert_encoder(preprocessed_text)

# Neural network layers
l = tf.keras.layers.Dropout(0.1, name="dropout")(outputs['pooled_output'])
l = tf.keras.layers.Dense(1, activation='sigmoid', name="output")(l)

# Use inputs and outputs to construct a final model
model = tf.keras.Model(inputs=[text_input], outputs = [l])

In [52]:

len(X_train)

1120

In [53]:
METRICS = [
      tf.keras.metrics.BinaryAccuracy(name='accuracy'),
      tf.keras.metrics.Precision(name='precision'),
      tf.keras.metrics.Recall(name='recall')
]

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=METRICS)

In [ ]:
model.fit(X_train, y_train, epochs=10)

Epoch 1/10
35/35 [==============================] - 246s 7s/step - loss: 0.7371 - accuracy: 0.5607 - precision: 0.5596 - recall: 0.5696
Epoch 2/10
35/35 [==============================] - 252s 7s/step - loss: 0.5741 - accuracy: 0.7536 - precision: 0.7474 - recall: 0.7661
Epoch 3/10
15/35 [===========>..................] - ETA: 2:18 - loss: 0.5236 - accuracy: 0.7854 - precision: 0.7490 - recall: 0.8419